@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
}

/* --CONTAINER-UNO-- */

.container-uno {
  width: 100%;
  height: 616px;
  background-color: #eeeeee;
  background-image: url(BACKGROUND/puntitos.png);
  display: flex;
  flex-direction: column;
}
.cont-uno__header {
  width: 100%;
  height: 15%;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cont-uno__header-logo {
  width: 54px;
  height: 50px;
  margin-left: 17px;
}
.cont-uno__header-nav {
  display: none;
  margin-right: 103px;
}
.cont-uno__header-nav-links {
  color: rgba(0, 0, 0, 1);
  margin: 0 15px;
  text-decoration: none;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
}
.cont-uno__header-burger {
  width: 36px;
  height: 32px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .cont-uno__header-logo {
    width: 109px;
    height: 109px;
    margin-left: 80px;
  }
  .cont-uno__header-nav {
    display: block;
  }
  .cont-uno__header-burger {
    display: none;
  }
}
.cont-uno__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
}
.cont-uno__main-title {
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 700;
  margin-left: 42px;
  margin-right: 42px;
  text-align: center;
}
.cont-uno__main-hero {
  width: 318px;
  height: 300px;
  display: block;
  margin-top: auto;
  margin-left: 15%;
}

@media (min-width: 768px) {
  .cont-uno__main {
    flex-direction: row;
    justify-content: space-between;
  }
  .cont-uno__main-title {
    margin-left: 80px;
    margin-bottom: 220px;
  }
  .cont-uno__main-hero {
    margin-right: 103px;
  }
}

/* --CONTAINER-DOS-- */

.container-dos {
  width: 100%;
  height: 538px;
  background-color: rgba(20, 20, 20, 1);
  color: rgba(250, 250, 250, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .container-dos {
    flex-direction: row-reverse;
    justify-content: center;
  }
}
.cont-dos__title {
  font-size: 32px;
  font-family: "Open Sans";
  font-weight: 700;
  margin: 50px;
}
@media (min-width: 768px) {
  .cont-dos__title {
    margin: 0;
    margin-bottom: 28px;
    align-self: self-start;
  }
}
.cont-dos__subcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .cont-dos__subcont {
    margin: 0;
    width: 532px;
  }
}
.cont-dos__text {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .cont-dos__text {
    font-size: 24px;
    margin: 0;
  }
}
.cont-dos__logo {
  width: 80px;
  height: 80px;
  margin-bottom: 68px;
}
@media (min-width: 768px) {
  .cont-dos__logo {
    width: 211px;
    height: 211px;
    margin: 0;
    margin-right: 90px;
  }
}

/* --CONTAINER-TRES-- */

.container-tres {
  width: 100%;
  height: 1375px;
  display: grid;
  justify-items: center;
  align-items: center;
}
@media (min-width: 768px) {
  .container-tres {
    height: 700px;
  }
}
.cont-tres__title {
  color: rgba(44, 44, 44, 1);
  font-size: 32px;
  font-family: "Open Sans";
  font-weight: 700;
}
@media (min-width: 768px) {
  .cont-tres__title {
    font-size: 48px;
  }
}
.cont-tres__supersubcont {
  display: grid;
  gap: 80px;
}
@media (min-width: 768px) {
  .cont-tres__supersubcont {
    display: flex;
    margin-bottom: 108px;
  }
}
.cont-tres__subcont {
  display: grid;
  justify-items: center;
  align-items: center;
}

.cont-tres__subcont-logo {
  width: 138px;
  height: 128.03px;
}

.cont-tres__subcont-subtitle {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
}

.cont-tres__subcont-text {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  margin-left: 56px;
  margin-right: 57px;
}

/* --CONTAINER-CUATRO-- */
.container-cuatro {
  background-color: rgba(20, 20, 20, 1);
  width: 100%;
  height: 660px;
  color: rgba(250, 250, 250, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .container-cuatro {
    flex-direction: row;
  }
}

.cont-cuatro__title {
  font-size: 32px;
  font-family: "Open Sans";
  font-weight: 700;
  margin-bottom: auto;
  margin-top: 70px;
}
@media (min-width: 768px) {
  .cont-cuatro__title {
    font-size: 48px;
    flex-basis: 65vw;
    text-align: end;
  }
}
.cont-cuatro__supersubcont {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .cont-cuatro__supersubcont {
    justify-items: flex-start;
  }
}
.cont-cuatro__subcont {
  display: grid;
  gap: 20px;
  margin-right: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.cont-cuatro__subcont-label-name,
.cont-cuatro__subcont-label-email,
.cont-cuatro__subcont-label-message {
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 400;
  margin-top: auto;
  display: block;
  margin-bottom: 9px;
}

.cont-cuatro__subcont-input-name,
.cont-cuatro__subcont-input-email {
  width: 335px;
  height: 45px;
  font-size: 25px;
}

.cont-cuatro__subcont-textarea {
  width: 335px;
  height: 113px;
  font-size: 18px;
}

.cont-cuatro__button {
  width: 335px;
  height: 45px;
  background-color: rgba(255, 217, 83, 1);
  color: rgba(20, 20, 20, 1);
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  margin-left: 5%;
  margin-right: 5%;
  border: none;
  border-radius: 4px;
  margin-bottom: auto;
  margin-top: 60px;
}

/* --FOOTER-- */

.footer {
  background-color: rgba(219, 219, 219, 1);
  width: 100%;
  height: 493px;
  display: grid;
}
@media (min-width: 768px) {
  .footer {
    height: 346px;
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    background-image: url(BACKGROUND/puntitos.png);
  }
}
.footer__cont-copy {
  margin-left: 16px;
  margin-top: 53px;
}
@media (min-width: 768px) {
  .footer__cont-copy {
    margin-left: 80px;
    margin-top: 98px;
  }
}
.footer__cont-copy-logo {
  width: 77px;
  height: 71px;
}
@media (min-width: 768px) {
  .footer__cont-copy-logo {
    width: 112px;
    height: 103px;
  }
}
.footer__cont-copy_text {
  color: rgba(44, 44, 44, 1);
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 400;
  margin-left: 5px;
}
@media (min-width: 768px) {
  .footer__cont-copy_text {
    margin-left: 20px;
  }
}
.footer__social {
  margin-left: 19px;
}
@media (min-width: 768px) {
  .footer__social {
    margin-right: 215px;
    margin-top: 95px;
  }
}
.footer__social-subcont {
  display: flex;
  align-items: center;
}

.footer__social-logo {
  width: 27px;
  height: 27px;
}
.footer__social-text {
  color: rgba(44, 44, 44, 1);
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  margin-left: 8px;
}
